*.txt
*.csv
*.bib
*.eaf
*.xlsx
*.docx
*.zip
#Ignore pycache
__pycache__/
*.npy
*.vec
*.model

#Add everything inside O2_Pipeline/Embeddings
!O2_Pipeline/Embeddings/*
fasttext_bpe.model.wv.vectors_ngrams.npy
O3_modelos/checkpoints/checkpoint_last_lstm.pth
O3_modelos/checkpoints/checkpoint112.pt
O3_modelos/BaslineLSTM/checkpoints/checkpoint_last.pth
tensorflow-2.13.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
libtpu.so
O3_modelos/SmallT5/env
O3_modelos/SmallT5/t5_isk_small
/O3_modelos/checkpoints/checkpoint-10500
/O3_modelos/checkpoints

!O3_modelos/XNLG/data

O4_Aplicacion/validaciones/.venv
*.db
