bo ▁kené mabo 
bo ▁kene mabo 
ma 
ma 
 
hon 
ohon 
 
ha h ▁shin han ▁beno y ha m hai ▁e ha h ▁shin han hai 
▁shinan ▁beno yamai ▁eah ▁shinanai 
▁shinan ▁yaka yamai ▁eah ▁shinanai 
yamai ▁eah ▁shinanai 
ki 
▁iki 
▁iki 
ron ▁waka ▁yoran ▁eah ▁oa ▁iki ▁bake 
ber na do rn ▁waka ▁yoran ▁eah ▁oa ▁iki ▁bake 
▁waka ▁an ka tin ▁eah ▁oa ▁iki ▁bake 
▁shipi b to en n ▁pa r to en n ▁waka ▁y to en ran ▁eah ▁to ena ▁iki ▁bake 
▁waka ▁yoran ▁eah ▁oa ▁ma wai ▁bake 
▁waka ▁yoran ▁no ▁bo ▁oa ▁iki ▁bake 
▁waka ▁yoran ▁eah ▁oa ▁iki ▁b ka e 
▁en ▁shinanai ▁ewen ▁hota bo ▁i k paoni 
▁en ▁shinanai ▁ewen ▁papakiri bo ▁i k paoni 
▁en ▁shinanai ▁ewen ▁hota bo ▁bane paoni 
▁oke ▁abi ▁en ▁shinanai ▁ewen ▁hota bo ▁ipaoni 
k paoni ▁en ▁shinanai ▁ewen ▁habon bo ▁a k paoni ▁en ▁shinanai 
▁en ▁shinanai ▁ewen ▁hanobo ▁a k paoni ▁en ▁shinanai 
▁i k paoni ▁mi ▁shinanai ▁e w mi ▁hanobo ▁a k paoni ▁mi ▁shinanai 
▁shinanai ▁ewen ▁hanobo ▁apaoni ▁en ▁shinanai 
▁ena ▁mato ▁ena ▁yoya ▁moa 
▁mato ▁ q ena ▁yoya ▁moa 
▁ ron o ▁riki ▁ne li ta ▁ro drí gu ez ▁ca mpo s 
▁ewea ▁nokon ▁ane ▁riki ▁ne li ta ▁ro drí gu ez ▁ca mpo s 
▁riki ▁eah ▁kehe a 
▁riki ▁eah bo ▁ewea 
▁calleria ▁riki ▁eah ▁ewea 
ini s tro ▁de ▁mision e ron ▁ea ▁iska riba ▁liman ▁katan shina 
ini s tro ▁de ▁cu l t u ran ▁ea ▁iska riba ▁na min ▁katan shina 
ini s tro ▁de ▁cu l t u ran ▁ea ▁is pakei riba ▁liman ▁pake i tan shina 
ini s tro ▁de ▁cu l t u ran in ▁ea ▁iska riba ▁i man ▁katan shina 
 
res ▁iki ▁eah ▁bana a 
res ▁te i ▁eah ▁bana a 
res ▁iki ▁eah ▁bana a 
▁eah ▁bana 
▁senpa 
▁bana 
ri ▁come ri ▁ea ▁come ri ▁ea ▁a betan ▁come r ti ▁ikahbi 
oni ▁tsa oni ▁ea ▁tsa oni ▁ea ▁a betan ▁tsaon ti ▁ikahbi 
▁b han hai ▁b han hai ▁e ha ▁b han hai ▁e ha ▁ha be t han ▁b han hati ▁i k ha h bi 
▁toai ▁ea ▁toai ▁ea ▁a betan ▁toa ti ▁ikahbi 
▁banai z ▁ea ▁banai ▁ea ▁a be ▁bana ti 
▁vieji ta 
 
 
 
▁eah ▁emenkiri keska ▁ea 
▁emenkiri hoko ▁eah ▁neno ▁no tsi 
ka ▁emenkiri hiko ▁emenkiri hiko ▁e ha ▁neno ▁beba 
 
ficio ▁beneficio ▁y b ene ficio 
 
 
an 
 
 
▁moa 
▁ro wai ▁moa 
 
 
 
 
 
 
ko ▁riki ▁ewen ▁kahe 
▁ewen ▁kahe 
▁eah ▁yoashi a ▁pu c all pa ▁eah ▁yoashi a ▁ewen ▁bake ▁eweketian ▁ewen ▁bake ▁yoashi ini 
▁ewea ▁pu c all pa ▁eah ▁ewea ▁ewen ▁bake ▁eweketian ▁ewen ▁bake ▁ewe ini 
c all pa ▁abo ▁oa ▁ewen ▁bake ▁eweketian ▁ewen ▁bake ▁oini 
c all pa ▁eah ▁oa ▁ewen ▁bake ▁eweketian ▁ewen ▁bake ▁oini 
▁pu c all pa ▁eah ▁oa ▁ewen ▁ba k ▁eweketian ▁ewen t ▁bake ▁oini 
 
 
shina 
shina 
 
 
 
▁bai ▁rakati 
▁rakati 
▁mahkata ▁tseka ke 
▁chi p un ki ▁tseka ke 
ahon ▁wai ▁mahkata ▁tseka ke 
 
ah ke 
▁ts e k make 
 
▁ake 
▁mewe ke 
 
▁emenkiri ▁natoki b na to ke ▁ena to ▁tson a ton ▁nato kin y na to m na ton a to 
▁tso an ▁akin yama 
 
go ▁aki bake 
 
▁aka ▁micha ▁micha ▁micha bira ▁micha ▁bira tiki ▁i k hon ▁ika bi ▁iro ▁iro ▁pikoke 
▁aka ▁ke sh tó ▁ke sh tó ▁ke sh tó bira ▁ke sh tó ▁bira tiki ▁i k hon ▁ika bi ▁iro ▁iro ▁pikoke 
▁aka ▁iwa ▁iwa ▁iwa bira ▁iwa ▁bira tiki ▁i k hon ▁ika bi ▁iro ▁iro ▁pikoke 
▁aka ▁peshtin ▁peshtin ▁peshtin bira ▁peshtin ▁bira tiki ▁i k hon ▁ika bi ▁iro ▁iro ▁pikoke 
▁aka ▁micha ▁micha ▁micha bira ▁micha ▁bira tiki ▁i k hon ▁ika bi ▁han so ▁han so ▁pikoke 
▁aka ▁micha ▁micha ▁micha bira ▁micha ▁bira tiki ▁i k hon ▁ika bi ▁mo ka ▁mo ka ▁pikoke 
▁aka ▁micha ▁micha ▁micha bira ▁micha ▁bi r tiki ▁ihon ▁ika bi 
 
paoni 
▁oha paoni 
k na to r na to bo ▁nato ▁riki ▁non 
▁non 
 
▁aka 
 
da ta ▁banai 
ketian ▁non ▁oho s bo ketian ▁ts e kai 
hi 
▁akai 
 
▁non ▁ma yai 
▁non ▁i ai 
yai 
 
▁ma bain 
 
▁hewai 
 
▁en ▁keyo ▁keyo shina 
kiri ▁e m mi bo kiribi ra ▁mi bo ▁keyo shin ke 
▁ke io shin ke 
▁mi ▁hama ca 
 
▁a ▁al ▁cha cra 
▁marido 
▁me ▁dice 
do 
▁ay u g da 
do 
 
▁apaoni 
 
▁pi sha hon ▁miná ▁okon ▁a k hon ▁pi sha hon 
▁renehon ▁o so ▁okon ▁a k hon ▁renehon 
pa l ▁a k hon ▁renehon ▁miná ▁m un ic i pa l ▁a k hon ▁renehon 
▁okon ▁ahon ▁renehon 
 
 
▁oa ▁pe koa o ▁be h ne ▁be h n eke ti o an ▁pi ch oai 
▁a ▁pekao ▁bene ▁bene ketian ▁picha i 
▁a ▁pekao ▁be h ne ▁be h ne ketian ▁ke eni 
▁pekao ▁bebe h ne ▁ke tian ▁picha mi 
 
 
 
k hon ▁non ▁pi paoni 
▁non ▁pi paoni 
 
 
 
 
 
k paoni 
 
 
▁a k hon 
 
to 
 
▁comía ▁maiz 
ba 
▁tomaba 
▁l la ma ba ▁misi 
 
 
os 
▁sus ▁ro pas 
 
bo ▁i k paoni ke 
ke 
 
i 
i 
▁a k paoni ke ▁bana ▁ina 
▁a k paoni ke ▁isko ▁po yan 
▁apaonike ▁isko ▁iná 
k paoni ke ▁non ▁pao ▁a k hon ▁sawepaoni 
▁a k paoni ke ▁non ▁pao ▁a k hon ▁pichan paoni 
▁apaonike ▁in on ▁pao ▁ahon ▁sawepaoni 
▁moa ▁epan 
 
 
▁o rin ▁shinan shama yamai 
k paoni ke ▁sawe kin ▁ki ri ko ▁aki 
▁s wa e kin ▁pon yan he ▁aki 
 
 
ti ▁akin 
ti ▁akin 
ti ▁akin 
 
▁akin 
ati ▁akin 
 
 
paoni ▁moa ▁nato 
paoni ▁moa ▁nato 
 
▁neno ▁ohe ▁akai 
▁akin ▁neno ▁ohe ▁akai 
▁en ▁nokon ▁po ro k 
▁non ▁bo ▁nokon ▁epa 
bo ▁ipaoni ▁en ▁nokon ▁epa 
 
 
te l l an oi tian 
 
▁hi ji ta 
 
 
 
 
 
 
 
 
 
m 
 
s 
▁ewea 
rn ba l do ▁ba r ba ran ▁so o ria 
▁baba 
 
 
 
 
 
 
 
 
 
 
▁ya 
▁eah 
á n ▁ia k 
▁ika ▁ain 
 
ene ▁marido 
▁ho z ja 
men te ▁ha ▁teni do ▁marido 
 
un to s ▁j un to s ▁vamos ▁a ▁vivir ▁con ▁tu ▁mamá ▁dice ▁mi 
 
te ▁t ran qui lo 
▁mi ▁pe s cado 
▁a ▁apo ya ri me ▁a ▁m í ▁na die 
▁cha cra 
tan o 
o ▁no ▁tengo ▁na da 
 
 
▁awe ra ton ki ▁mato ▁pikota 
▁haweatiki ▁ma o t ▁pikota 
 
▁pikota 
g i be l 
 
▁xobo ▁natoti ▁a k paoni ki ▁eah ki ▁kahe ▁natoti ka ▁nato ▁iwi ▁iwi ▁behon ▁ch na to ti a 
ra ▁xobo ▁basi ka ▁a k paoni ki ▁eah ki ▁kahe ▁basi ka ka ▁nato ▁iwi ▁iwi ▁behon ▁ch ba si ka a 
▁xobo ▁ani ▁a k paoni ki ▁eah ki ▁kahe ▁anika ▁nato ▁biwi ▁biwi ▁behon ▁chania 
▁xobo ▁ani ▁a k paoni ki ▁eah boki ▁kahe ▁anika ▁nato ▁iwi ▁iwi ▁behon ▁chania 
▁xobo ▁ani ▁apaoni ki ▁eah ki ▁kahe ▁anika ▁akan ▁nato ▁ibi ▁ibi ▁behon ▁chania ki 
▁kain ▁oa ▁ka ina ▁oa ▁ka ina ▁iwi ▁ke ani ▁mako ran ti ▁akanai 
▁shinan ▁oa ▁shinan a ▁oa ▁shinan a ▁iwi ▁ke ani ▁mako ran ti ▁akanai 
▁chan i ▁oa ▁chania ▁oa ▁chania ▁iwi ▁ma pe hi ▁mako ran ti ▁akanai 
▁chan i ▁oa ▁chania ▁oa ▁chania ▁iwi ▁ke ani ▁bosh ti ▁akanai 
▁chan i ▁oa ▁chania ▁oa ▁chania ▁iwi ▁ke ani ▁mako ran ti ▁akanai 
we 
 
 
 
▁pachi we 
▁te pa chi we 
▁kenake ska ▁yoi ▁yoiwe 
▁kenake ska ▁yoyoi we 
▁hema ▁akin ka ▁wai ▁aki betin ▁wai ▁aka ▁ewea betin 
▁hema ▁akin ka ▁atsa ▁aya ▁aki betin ▁atsa ▁aya ▁aka ▁ewea betin 
▁hema ▁akin ka ▁wai ▁aki betin ▁wai ▁aka ▁onkon a betin 
▁hema ▁akin ka ▁wai ▁aki betin ▁wai ▁a k ▁ewea betin 
x ▁yoi ▁yoiwe 
we 
▁inan ▁bake ▁akin ▁o r oai 
▁hema ▁akin ▁heriheri ai 
▁akin ▁o r oai 
▁heki ▁yoashi i 
▁paranti ▁banai ▁he i k ▁wishai 
▁champehon ▁ayai ▁ochí hon ▁xeai ▁habo ▁akai ▁ayai 
▁minahon ▁xeai ▁habo ▁akai ▁ayai 
▁hawi ▁man k oai ▁kankan 
hai ▁kankan 
hai ▁kankan 
▁ke ai ▁ewe ▁ewe ▁ewe paoni ▁ma ▁a ts anke rana ▁oi betin 
▁kai ▁motsa ▁motsa ▁motsa paoni ▁ma ▁a ts anke rana ▁oi betin 
▁kai ▁man ▁man ▁man paoni ▁ma ▁a ts anke rana ▁oi betin 
▁kai ▁ewe ▁ewe ▁ewe pa we wan i ▁ma ▁a ts anke rana ▁we wai betin 
▁ewe ▁ewe ▁ewe paoni ▁ma ▁a ts ankera ▁oi betin 
▁oin timari ▁ikebetin ▁ma ▁shinani ▁yosi boa ▁yosi bo ▁te wen ohon ▁oin tima ▁riki 
shka timari ▁ikebetin ▁ma ▁shinani ▁yosi boa ▁yosi bo ▁kan ohon ▁me shka tima ▁riki 
ti m ri ▁ikebetin ▁ma ▁shinani ▁yosi boa ▁yosi bo ▁ai a ▁kan ohon ▁oin tima riki 
sh tó bo ▁yosi 
▁yosi 
 
▁panshin ▁nawa ▁panshin ▁nawa ▁iki ▁koko pai 
▁panshin ▁nawa ▁iki ▁koko pai 
koin si ▁hai ▁hai ▁kanon riki ▁micha bake ▁hainka tima rin ▁micha bake ▁wai ▁aki 
▁wai ▁ake ▁hain ▁i ▁ike ran ika ▁hain ▁o oke ran i ▁kai ▁hain 
ka ▁nowa ▁non aka ▁nowa 
▁aribake ▁ainoah ▁banake ▁paranti ▁banake ▁heki w is hake ▁atsa ▁atsa ban ake 
ri ▁eweri ▁neke ▁oribake ▁awe ▁aki ▁iki ko koi ▁ai res ▁eweti ▁eweti ▁hain 
▁ain man ama ▁hawe ra on ▁katima ka 
▁baneke ▁ain ▁neke ▁chi te ta ▁ewea ▁hain ▁chi te ta ▁ewea ▁kirin kon ▁mera 
▁ken oh ▁ewe betin 
 
▁betin ▁waka ▁shitapake ▁pa hko ▁shitapake 
ke ▁papakiri ▁mera ▁ainoa ▁wan e aka ▁awerano ▁kati a m 
ena ma ▁wai ▁aribake ▁atsa ban ake ▁ainoa ▁eweke 
▁ain a o ▁ha 
▁banake ▁heki ▁wis hake 
kati bi g ▁yoiwe 
 
mi en z o 
▁akai 
▁x n eke ribi ▁an ai ▁oke kena ribi ▁an ai ▁in in te li g ii b le ▁be we i 
▁akai ▁toro ena 
▁nato xe aki 
▁ayawe ▁ain ▁tsaon ho ki 
▁epa ▁ha ya we 
hako ▁ha koi ▁wene ▁wene ▁rama ▁akon bires ▁ikika 
 
ai ▁non ▁pii ▁enimai ▁non ▁wetsabo ▁nokon ▁poi ▁no k n ▁i rmano betan 
i h ▁piwe ▁bacho ▁ha ha ha hai 
▁ma ▁mawa ▁ma wan ti ▁kesa maka 
▁iki ▁h he e ▁hoa ▁hehe he he ▁hea ▁i betin 
▁bacho ▁poi kin ▁wacho ▁we te hiko ▁ai yo ki ▁wacho 
▁ke chá n ▁nino ▁mapó ▁tsan we ▁akai 
m ▁ke sha bo ya hon ▁awe 
▁ayo ki ▁oh 
po ▁ayo kin 
▁chikisha i 
▁ayamai ▁chicho 
rí po de 
chan ▁ki k í ▁heni bo ▁yoi ▁ipaoni bo ▁yoi 
bo ▁yoi 
ki ▁n no ▁pi betin ▁hawe ▁shinan ma bobi ▁haweki ▁ra ke ti ▁yama 
 
 
chó ▁chichó 
ya ▁ikati ▁a ▁an ka ya ▁nawa ▁oin bei betin 
 
▁ikati ▁ewen ▁papa 
i ▁oho he ▁nawa ▁inan bake ▁yama riki 
te li g i b le ▁ewe tanwe 
▁ya ▁ewen ▁papa ▁mawata ▁iki 
 
pa ▁mahka a ▁iki 
ka ▁ewen ▁apa ▁iwahako ▁iketian ▁ewen ▁papa ▁ka rg aka rg anki ▁ka ra ▁ka ra e kin 
me bo kesa 
 
 
▁papa ▁mastoma ▁ne wa ▁papi ki ▁neke hon ▁ka r ka 
 
▁be ra ▁be ki ▁ha a ▁s ón ta ro ▁eweai ▁ika ta ▁h á ▁ áma ma ▁ani ▁ewen ▁papa 
▁mah ká 
▁re boki 
▁mawata ▁wi ki 
 
 
 
▁bake ▁chiki to ▁í kati ▁mah kó hoko 
 
▁papa riki ▁heman ▁pikoke 
ká tima 
 
 
 
ez ▁meran i 
 
▁oina ▁iki ▁rome ▁ayahon 
▁rome ▁ayahon 
▁rome ▁ayahon 
 
 
oke ▁oin mai ▁kawe ▁a k hon ▁kake 
▁che ha mai ▁kawe ▁a k hon ▁kake 
▁oin mai ▁hawe we ▁a k hon ▁hawe ke 
oke ▁o v in mai ▁kawe ▁ahon ▁kake 
ribike 
 
▁ishton yama ▁iki ▁chini ▁hoke 
▁ishton yama ▁iki ▁chini ▁hoke 
ka ina 
▁ke há ka ina 
▁me ken ka ina 
ka ina 
▁a k we ▁a k ronki 
u ▁a ro b n ki 
kai ra ▁noko me tiki 
▁moa kai ra ▁noko me tiki 
▁ha 
 
▁kares ke 
▁katan i ▁kares ke 
▁kares ke 
 
▁hoa ▁yosi 
▁yosi 
▁yosi 
pari ▁moa ▁ka a 
▁boa ke ro an o ▁oa p oa ri ▁mo oa ▁koa oa 
a ri ▁moa ▁ka 
 
 
ai 
▁reteai 
▁ikai ▁hain ▁i k tibi ▁isko ▁tsits oke tere 
▁i k tibi ▁hi mi ▁tokora 
▁e i tibi ▁isko ▁tokora 
▁onan i ▁riki 
▁onan i ▁riki 
▁noa ▁ona in ▁riki 
▁aya bainke 
l bi ke ▁rome ▁aya bainke 
 
▁ake 
▁ashi ki ▁ha pari ▁reken kaini 
ka ▁iki ▁ma ▁bakerano ki ▁nato pari ▁reken kaini 
▁bakerano ki ▁ha pari ▁ha ho kaini 
▁bakerano ki ▁ha pari ▁reken kaini 
 
 
 
▁tokora ▁ma ▁ochoma 
▁ma ▁ochoma 
▁chachi ▁bai ▁pota yamake 
▁papa ▁pota yamake 
 
 
▁iki ▁ma ▁ka a 
▁ma ▁bospi a 
▁ka 
▁i k riba ronki 
 
oai ronki ▁i k oai ▁mo oa ▁oa ▁isko koa 
▁moa ▁a ▁bake ka 
▁moa ▁a ▁is k koa 
 
 
 
▁moara ▁bakerano ▁retei ▁riki ▁i k ronki 
▁retei ▁riki ▁i ronki 
 
an o ▁moa ▁retei ▁riki ▁moa ▁oinon ▁koa we ▁oa k ronki 
▁riki ▁ma ▁oinon ▁bi we ▁a k ronki 
▁ri m ki ▁ma ▁oinon ▁kawe ▁aronki 
 
 
kaini 
▁i k tian ka ▁iki ▁tsitseketere 
▁kikin ▁ochoma ▁itian ka ▁iki ▁tsitseketere 
▁yo kati ra ▁ea ▁hoke 
ra ▁ea ▁koro si ki ke 
ra ▁ea ▁hoke 
kan on ▁ea 
▁yo kan on ▁ea 
kan on ▁ea 
 
▁be bake 
 
ke ▁bobai hon 
▁hon e t ke ▁hon e t hon 
 
shoko ▁bai ▁pata ▁bai ▁pata ▁bai ▁kahke hon ▁oinaka h ke ▁iki ▁a 
▁bake ▁pata ▁bake ▁pata ▁bake ▁kahon ▁oinaka ▁iki ▁a 
▁bai ▁pata ▁bai ▁pata ▁bai ▁kahon ▁te we aka ▁iki ▁a 
▁b hai ▁p ha t ha shoko ▁b hai ▁p ha t ha ▁b hai ▁p ha t ha ▁b hai ▁ k ha hon ▁oin ha k ha ▁iki ▁ha 
▁b g ai ▁pata ▁bai ▁pata ▁bai ▁kahon 
 
 
ch pe kama sh pe ka k pe ka 
 
▁aki ▁ka 
▁ma ▁aki ▁ka 
on 
▁imi ▁hoho ▁iki ▁rakata ▁moa ▁aka 
▁hoho ▁iki ▁rakata ▁moa ▁aka 
▁hoho ▁iki ▁yoishi a ▁moa ▁aka 
▁hoho ▁iki ▁rakata ▁moa ▁aka 
 
▁isko ▁iskon ▁ran iki ▁ma pon ▁iskon ▁pi ts o ka ▁iki ▁ma pon ▁chania 
▁isko ▁iskon ▁ran iki ▁con e j on ▁iskon ▁ina ka ▁iki ▁con e j on ▁chania 
▁isko ▁iskon ▁ran iki ▁ma pon ▁iskon ▁ina ka ▁iki ▁ma pon ▁tamon a 
▁isko ▁iskon ▁ran iki ▁ma pon ▁iskon ▁in ka ▁iki ▁ma pon ▁chania 
▁onana ▁ma ▁mawata ka 
▁rakata ▁ma ▁mawata ▁ka 
biki ▁a ▁mi ▁heta ▁i k tian ▁mia ▁ake ▁oinwe ▁a k ronki 
biki ▁a ▁mi ▁yoitima ▁i k tian ▁mia ▁ake ▁te wan we ▁a k ronki 
biki ▁a ▁mi bo ▁yoitima ▁i k tian ▁mi boa ▁ake ▁oinwe ▁a k ronki 
biki ▁a mi ▁yoitima ▁itian ▁mia ▁ake ▁oinwe ▁aronki 
biki ▁ma ▁mawata 
▁ma ▁mawata 
▁toshbo ▁toshbo ▁ake 
▁pon ▁cho kama ▁pon ▁pon ▁cho kama ▁ake 
to sh bo ▁toshbo ▁ake 
 
 
yamawe ▁aronki a ▁hanebonin 
ti ▁oa ▁mia ▁hon e ti ▁oa ▁riki 
ki ki a ▁mewesi ▁ba o ki ki a ▁mia ▁mewesi ▁ba o ki ki a ▁riki 
▁oa ▁mia boa ▁mewesi ▁oa ▁riki 
▁mia ▁mewesi ▁oa ▁riki 
ki ▁ma ▁a ▁toshba ▁ake ▁toshba ▁ake ▁toshba ▁ake 
▁me a ▁ake ▁me a ▁ake ▁me a ▁ake 
▁toshba ▁ake ▁toshba ▁a e k ▁toshba ▁ake 
▁pon ▁cho kama ▁pon ▁pon ▁choka mai ▁pai a 
▁ti r ini ▁pai a 
▁soro i ▁choka a 
▁iki ▁oa ▁soro ▁soro i ▁pai a 
▁pai a ▁ma ▁tsits oke tere ▁moa ▁i wan a 
á a ▁ma ▁tsits oke tere ▁moa ▁i wan a 
▁pai a ▁ma ▁tsits oke tere ▁moa ▁i wan a 
 
 
 
 
▁m na ▁menike ▁m on a ▁t na m na 
▁moa ▁tama 
▁tama 
a 
 
resi ▁tsi teke tere ▁oke bicho 
▁oke bicho 
resi ▁ma 
 
 
 
▁moa ▁aka 
ke 
ke ▁nato ▁bakerano 
ke ▁nato ▁bakerano 
▁na ▁bakerano 
▁nato ▁ewa 
▁nato ▁bakerano 
eni 
▁ma 
 
t ke ▁ma 
▁ma 
kin ▁ma ▁oribake 
▁ma ▁chan i ri bake 
▁ma ▁oribake 
▁ma 
▁ma ▁westiora ▁mawake betin ▁hain ▁itiki 
 
 
 
 
▁ma ▁be kana 
▁ma ▁be kana 
▁ma ▁be kana 
bi ran ▁ma ▁ibi kana 
▁ma ▁bea k na 
 
▁koro ▁wistori 
▁oa ▁katsari 
▁wa ▁kin ▁oa ▁katsa c ri 
▁oa ▁katsari 
▁isan ▁oa ▁katsa re 
▁koro ▁wistori ▁isan ▁ k ro ▁wistori 
▁oa ▁ka sa ri 
 
 
▁katsari 
▁ka tsai 
ri 
 
si tori ▁isan ▁koro ▁wistori 
 
 
 
 
 
▁owe ▁owe 
 
▁owe ▁eki 
▁owe 
 
 
 
▁ka 
 
ri ▁callerianko 
 
 
 
 
 
 
 
▁iska we ▁a ketian 
ka a 
▁aka 
 
 
▁mia ▁ewea 
▁ai ▁o ▁hanebonin ▁yoi 
▁kene ▁apaoni 
 
 
▁bea m n ai 
▁non o ri 
 
anai 
 
hon 
 
▁ane 
 
▁motsahon 
▁kene ▁apaoni 
 
 
 
▁shiwa 
pake ▁sapa kin 
▁shiwa 
ribi ▁aka ▁hawe ▁teh oa in 
 
▁iska mis 
 
 
▁iska ribiai 
 
 
▁nato ▁a ▁hanebonin ▁oin hon ▁yoi ya ka ▁paka ▁kene ▁ipaoni ▁kene a 
▁kene ▁oina 
▁aka ki ▁paka ▁akani 
▁oin ai ▁kene ▁kene ▁akani 
 
 
 
▁kene 
▁achiotenin ribi 
▁achiotenin e ▁d ken e 
 
▁achiotenin ribi ▁akai 
 
▁a mi ▁yoraki 
in 
▁akai ▁oni 
 
 
no ▁wishai ▁aka 
 
▁pa oti ▁yora 
 
 
 
a 
 
 
 
 
 
 
▁tenkoti 
 
ai 
 
 
▁tenkoti ▁iki ▁akai 
 
 
 
 
 
 
 
▁kene 
 
 
▁kabitiki 
pa bo ti ▁besan 
 
 
 
 
 
 
 
▁bakebo ▁iso k ▁bakebo an ▁kene ▁apaoni 
i ▁ipaoni ▁aweki 
q a ▁kene 
▁ipaoni 
▁ipaoni ▁hea ▁mitsa 
 
 
▁haweki ▁ben san ▁kene ▁ipaoni 
 
▁ea ▁onáma 
 
 
▁hanon ▁ea ▁aka 
▁ewen ▁hanon 
▁paka ▁keneti ▁wen ▁hano ▁onama 
 
▁riki ▁bake 
▁ewen ▁a ba ▁rabé res 
▁ma ▁ewen ▁kene ▁onai 
▁kene ▁onan ai 
▁aki ▁ma ron ohon 
v ina 
 
▁e w men ▁baban ▁rama 
 
ki ▁ewen ▁kene ▁onai 
▁wetsa hon ▁ma ▁wetsa hon ▁maro i 
▁bi 
▁baba 
▁baba ▁bakeheko bon 
 
 
 
▁ma ▁ona ribi 
 
 
j oi ▁nokon 
▁yama 
m za 
▁mah kani 
▁yama 
 
▁iki 
tsi ▁iki 
ai 
 
▁kene kati 
 
▁rabé 
▁ikati ▁ve wen ▁hano ▁ewen ▁hano ▁rabé 
▁to roa hon ▁kene 
▁chopa yo hma ▁iki ▁noa ▁riki ▁bachi 
▁yoi ▁shipibo ▁riki ▁chopa 
i hi ▁bachi ▁ipaoni 
 
▁yoi ▁bachi 
h n 
tan ▁ewen ▁hano res ▁i z ska ▁apaoti 
▁toró bo ▁kenepaoti ▁ewen ▁hano 
to ia ▁eah ▁hoho i 
 
▁nai ▁nai ▁t ke e ▁teke ▁ai tian 
tian ▁ea ▁hu o ho ia 
 
ti bo ▁ma ▁mahka ▁iki 
 
▁rabé bi ▁riki ▁ania 
 
 
ber s on ▁a ▁r ki i ▁en ▁maho ▁a a k 
▁en ▁maho ▁aka 
 
on 
▁en ▁ania ▁rabé 
▁neno ▁natoti ▁ani hiko ▁ena ▁ania 
 
 
r man ▁awin ▁bihon 
 
▁ewen ▁bene ▁betsa ▁akashamai ▁isko hoko ▁bene ▁witsa ▁akashamai 
▁witsa ▁akashamai 
a ▁iki ▁a ▁pota ma ketian ▁en an ▁bihon 
s es ▁bia ▁ika ▁betsy 
▁e an ▁maho ▁aká 
mabi ▁ewehonmabi ▁mah oa ra ▁riki ▁arana 
oa ka 
▁ainbo 
 
▁yoia 
▁onáma paoni 
ki ▁min ▁onama tian ▁onama ti ▁iki 
▁min ▁a ba ▁iki 
ki ▁m u cho ▁ti e mpo ▁iti ▁iki 
 
▁en ▁onanyama 
kani ke ▁eah ▁me ho i ti 
ketian ▁ea 
▁ani ▁ani 
t n 
 
▁no ya katiai 
▁yoishi katiai 
 
p n ki ▁iso ▁inahon ▁iso res ▁noi ya 
▁chai tan in ▁noi ya paoni 
b oni 
honki 
po ▁ea x h ▁ania ▁riki 
ma ▁no ▁yama 
 
▁mahkai 
 
 
▁ewa ▁ewa ▁i tsa ▁ewen hon ▁ea ▁ewen ▁ewa ▁witsa ▁ea ▁ayama kati 
 
yo ki 
▁ea ▁ain ria ▁ea ▁hai ri ▁i r ▁eweke bi ▁ewen ▁ewa ▁mahka ▁en ▁ewa ▁witsa ▁mahkake 
▁ki ri hiko ▁ea ▁ania 
 
 
 
▁m tai ▁ea ▁an ti mai bi 
mai bi ▁ea 
▁ea ▁bene make 
▁kikin ▁noitapa paoti 
tsai 
▁apa ti ▁atipayamai 
 
▁apa bano 
▁ai ki ▁apa bano ▁akin ▁aka 
 
do ▁mi ▁a bu eli ta 
 
▁papá 
taba 
▁mezquinaba ▁ma d uro 
▁f all ec i ó ▁te mp rano 
▁tu ▁a bu eli ta 
 
 
 
 
fic a 
 
 
 
o ▁be ha ▁ta o 
▁raka ▁ahoya ▁riki 
i ribi 
 
▁piribai 
▁ahon 
▁hawen ▁ane riki ▁mapa ▁mapa 
 
 
▁pitiribi 
 
 
kesa ▁richi ▁i chi bika 
 
bi rá 
 
 
▁chi ▁mena 
 
 
 
 
 
▁ha 
 
h man ▁ba ti ro 
tai ▁neno 
▁heta ▁chex an aketian 
▁neska ▁akai 
 
 
 
 
a ▁a ▁pitiribi ▁mechá ▁mechá kiri ▁awen ▁ane ▁yoa ▁ane ▁mechá 
▁wetsa ▁shina ribi banon 
tsa ▁wetsa 
 
 
bi ▁ino ▁po 
▁poi ▁ino ▁poi 
▁w po i ▁ino ▁poi 
 
▁akai 
 
▁pitiribi ▁yoa ▁awa ▁taka 
 
 
 
ribi ▁ha ▁awá ▁taka 
▁mechá ▁a ▁mechá ka ▁hoshin shaman ▁neskara ▁iro ▁ho sh ín shaman 
▁ha 
▁x oai 
▁ana 
 
▁noe shaman ▁ha ▁as ki kin 
man ▁pachibi ▁pachibi 
 
 
si ▁nen ken ▁menton 
 
 
 
 
 
 
▁shinon ▁mapá ▁shinon ▁mapá 
 
 
 
is o 
ke 
▁mis ▁cho take ▁cho take ▁shino 
a ▁neno ki ▁neno ro kon ki ▁chota ki ▁ran pen ▁iti ▁natoki ▁ran pen ▁iti ▁ainki ▁chotai 
▁chotai ti ▁shino ▁aka ▁iki ▁mashpi ▁ake ▁mashpi 
aa ▁a hako ti riki ▁ne c no ▁kai ▁shinon ▁chotai ▁be i t n 
▁mia ▁tan anon ▁mia ▁abanon ▁mia ▁tana banon ▁ah ▁no ó h ▁aki ▁oin g i ▁shinon 
▁abi ske ▁ma ▁peshtin ke ▁moa ▁a t bi ▁ika ▁askara ▁riki ▁shinon ▁shinon ▁cho tani ▁wetsaka ▁r 
▁shina ribi ▁moa 
 
 
 
 
▁ z wan kin ▁cha hai ▁wankin ▁non ▁akabi ▁iskobo ▁aka ▁wankin 
 
chon yo ▁ka 
▁hena ▁pi 
▁ha ▁tej ▁tej ▁tej 
 
▁hena ▁ia 
 
 
▁shu ki ti ▁ahon ▁kini ▁mena ▁ni ake 
 
▁awen ▁awin ▁nia ribike ▁aska honki 
 
ke ▁pej ▁pej ▁pej ▁pej ▁pej ▁payai ▁payai ▁ma ▁mawa 
ch uni ▁ma ▁mawa ▁ma ▁mawa ▁mawata ▁ma wai ▁kiyo ▁oa ▁ma ▁ha ▁mawa ▁pe g ka o 
▁ana ▁pekao ▁ha pen ▁tose ▁non ▁yoi bi 
▁ya mi 
cha ▁kanon ▁yanpan 
t n ▁yanpan ▁yanpan 
hati ▁yanpan ▁an ▁pe hake ▁pe ha honki ▁oin k 
ha honki ▁oinke ▁a si ro ro ▁moa ▁ha ko s 
▁asin ▁la s in ▁riki 
▁siwa ke ▁siwa ke ▁siwa pakeke ▁siwa pake hon ▁potepakeke 
oh n ki ▁potepakeke ▁potepakeke ▁poteke ▁neska i 
▁poteke ▁poteke ▁neska kin ▁potepakeke ▁a 
pakeke ▁potepakeke ▁a 
▁a k ni ▁awinin ▁moa ki ▁mi ▁kai ▁i o p 
▁i o ▁miki ▁ea ▁chotakashamai 
▁ea ▁chotakashamai ▁minki ▁chota kasai 
sh ma ai ▁minki ▁chota kasai ▁ya ▁mia ▁abanon ▁iki ▁mia ▁abanon ▁awen ▁awin ▁wake bainki 
tani 
▁do oo o ▁awin ▁ma ▁ora 
make 
▁ora ▁ibe ma ▁pekao ▁mia ▁kopinon ▁awen ▁ai w n in 
▁a ▁neskata ▁raka 
▁kopinon 
inon ▁awen ▁awin ni ▁g o l pe a ▁la ▁epa l ma ▁de ▁la ▁ k mano ▁hain ▁ka 
a ▁unankera 
ra ▁unankera 
aa a ▁to j ▁unankera ▁mawata ▁boshi ▁tekea 
▁boshi ▁t ke a ▁boshi ▁tekea ▁awen ▁awinin ▁tekea ▁boshi ▁tekea ▁boshi ▁tekea 
▁awinin ▁tekea ▁aaa hhh ▁tekea ▁ki ▁itiki 
▁ki ▁ti tiki 
sa ▁i pan ▁nokon ▁bene ▁ena ▁reteke 
t pan ▁enra ▁mia ▁reteke 
▁paran ai 
 
bira ▁iki 
en kin ki ▁boshki 
 
▁mira a ▁iki 
we ▁ena ▁mia ▁tekea ▁kanon ▁moi we 
 
 
k 
 
k kain 
 
▁moi ▁akin 
 
ke e a ▁riki 
 
hai 
ke ▁boshki ▁ka 
▁siwa ▁siwa ▁ q wan a ▁hoke 
ha ▁iki ▁moha yamai 
 
in ▁bene ▁awi ▁ikiri ▁aki 
▁iki 
▁iki 
 
▁ani ke 
 
 
 
chin ▁a a k ▁iki ▁i ama ▁iki 
 
▁ake 
▁pewe koi ▁iki ▁hawe ▁ia 
we keska ▁riki ▁pewe koa 
 
ki 
banon ▁papá 
 
 
▁tekea ▁ika ▁riki 
 
▁boshki ▁teke ▁boshki ▁tekea ▁riki 
pake 
 
dio ▁bi ▁ka ▁kake 
▁naton ▁min ▁bene ▁bosh k x i ▁papa ▁awe 
▁ahon ▁papa ▁awe 
▁iki 
n in ▁a a we 
▁sh oo oo ▁sh oo oo 
 
to ▁ma ▁hain ▁ia k ▁be xo an 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
▁weha ▁atsa ▁wehai ▁pata ra shka h un ▁pi 
▁m h z m ▁atsa ▁wehai ▁a pi ai ▁atsa ▁wehai 
▁as ta ▁hoi ai 
ka hon ▁ho ka hon ▁ya tsa ▁atsa ▁atsa ka 
 
▁a ▁ha ronki ▁aka ▁iki 
 
 
 
 
 
v ▁piai ▁atsa ▁aribi ▁atsa ▁piai ▁bobai ▁bobai 
▁bobai ▁bobahon ▁pii ▁atsa ▁atsa 
▁atsa ▁bo banon ▁atsa ▁atsa ▁mehaikai ▁atsa ▁mehai aki ▁neska ki ▁aki 
▁mehai ▁wainko ▁kai ka 
▁atsa ▁mehaikai 
ia ▁ain ▁na pohon ▁boai ▁bohon ▁bobai ▁bobai ▁atsa ▁bobai ka ▁tankan ▁aki 
▁tankan ▁aki ▁atsa ▁tankan ▁aki ▁atsa ▁tankan ▁aki 
 
▁me tehon ▁piai ▁atsa ▁mai ▁akai ▁a ▁in ▁wasi ma ▁ya ▁está ▁hain 
 
 
 
▁moa 
▁atsa ▁atsa ▁atsa ▁ewen ▁witsaka ▁non ka ▁yoaribi kan ▁poa ▁poa kan ▁poa 
▁poa 
 
▁piai 
 
▁iboma ▁poa ▁iboma ▁poa 
i si 
 
 
▁neskara shoko ▁neskara ribi ▁machinchomabi ▁poa ▁machinchomabi ▁poa 
▁ha ▁hari ▁ha ▁ha ▁pia riki ▁ta h ▁ta h 
ma ▁an po ko hon ▁piai 
hon ▁pia ▁ha 
▁ha ▁poa riki ▁ha ▁ha 
 
es res ▁ma ▁a ▁ter mi ando 
▁l la ma rá ▁atsa ▁ichariki ▁ichariki ▁as ta 
▁mez c l ando ▁yoka ▁berosh ▁atsa 
▁atsa ▁g be ro sh ▁atsa ▁a ▁ha shin ▁atsa ▁atsa ▁atsa ▁ikaka ▁berosh ▁atsa 
 
 
▁as ta ▁hanshin ▁atsa 
▁ikahbi ▁atsa ▁hanshin ▁a ts ▁a ▁hanshin ▁atsa ▁ha ▁haribi ▁wetsakan y 
sho ▁raoh ▁atsa 
▁atsa 
 
g i b l ▁e ▁panshin ▁a ts ha ▁hosho ▁atsa ▁hosho ▁atsa riki ▁ha ▁hosho ▁atsa ▁panshin ▁atsa ▁pekao 
bano l ▁nato ▁non ▁kamo te ▁ka ▁kari 
 
▁icha ka ▁kari ▁me sh t no bi hiko ▁kari ▁biai 
hon ▁piai ▁boba ▁bobahon ▁bobahon ▁piai ▁b boa hon ▁piai 
▁bocho ▁bobahon ▁piai ▁ha ▁rabe ▁ani ribi ▁cha a ▁rabe ▁ani 
▁hariki ▁noi m mera ▁noin mera 
 
▁dos ▁ha ▁haskara riki ▁ha ▁ha ▁ha ▁ha ronki ▁ikai ki ▁kishi i hon ▁piai ▁bobahon ▁piai 
▁sh e ai ▁ayai ▁kari ▁kai r ▁ayai 
 
▁kari ▁kari riki ▁ha ▁dos ▁nombre ▁kari 
g i q b le ▁wetsakan 
▁ha ▁hoshin ▁neskara ▁tashi ▁kari ▁tashi ▁kari 
l c e ▁bata ▁hariki ▁tashi ▁kari ▁tashi ▁kari ▁tashi ▁kari ▁bata ▁hakon shama 
▁mapo shama ▁natoti ▁mapo ▁mapo i si ▁hari ka ▁tashi ▁kari ▁tashi ▁kari ▁tashi ▁kari 
ka 
▁kan 
riki ▁neska shama ribi ▁ha ▁hawebachi ▁kari ▁hawebachi ▁kari ▁hawe ba ch x i ▁ k ri riki ▁ha ▁hariki ▁hakon shama 
▁bata shama ▁hawebachi ▁kari 
