a ta make ▁rami ▁akan a ▁ea ▁akanai ▁ea ▁mawa ti ▁me wen ▁ewa ▁p ini an ▁ea ▁i aa ▁riki 
▁rami ▁akan a ▁abo ▁akanai ▁abo ▁mawa ti ▁me wen ▁ewa ▁pinon ▁abo ▁oa ▁riki 
▁rami ▁akan a ▁ea ▁akanai ▁ea ▁mawa ti 
▁ea ▁mia ▁pima tiki ▁sin á we ▁mia ▁sin á we ▁mia ▁ena ▁awin ▁a k non ▁kawe 
▁ea ▁mia ▁pima tiki ▁tonpin we ▁mia ▁tonpin we ▁mia ▁ena ▁awin ▁a k non ▁kawe 
▁ea ▁mia ▁pima tiki ▁ho we ▁mia ▁ho we ▁mia ▁ena ▁heki ▁a k non ▁kawe 
w ▁ea ▁mia ▁pima tiki ▁ho we ▁mia 
 
k 
 
 
bainke 
 
▁awen ▁ewa ki ▁nokoke ▁nokoke 
▁awen ▁ewa ki ▁watsi ke ▁watsi ke 
▁awen ▁ewa ki ▁ben ake ▁ben ake 
▁ha y in ▁awen ▁ewa ki ▁nokoke ▁nokoke 
▁kahon ▁hain bi 
 
▁iki ▁ha 
▁ha 
ca ▁iki ▁ha 
tan ka ▁c ana s tan ▁pani be kona ▁neke ▁rakata 
▁pani be kona ▁neke ▁rakata 
▁raka tin ▁kene be kona ▁neke ▁rakata 
▁raka tinin ▁pani be kona ▁neke ▁raka a t 
▁ha ▁atipa ka ronki ▁akai 
▁ha ▁ibi ▁ka ronki ▁akai 
ke 
 
 
 
in 
an 
tahon ▁mia 
 
▁pi manon ▁tsan wa ma we ▁tsan wa ma we 
▁meyamawe ▁meyamawe 
 
 
 
d i tan ▁ayama honi ▁awen ▁awin ka 
tra ta mi en to ▁ake ▁ma l tra ta mi en to ▁a k hon 
▁bake ▁ahon 
▁bake 
▁pikoke ▁ha ▁ ron o 
▁bake 
▁pikoke ▁ha ▁cu en to 
▁bake 
▁iki ▁ika ▁i bin ka 
ha ▁iki ▁ika ▁i bin ka 
▁ika ▁ibi kan ka 
▁neskara 
▁neno ▁neskara 
▁ne s p ka ra 
▁pekao ▁neno ka ▁bashpá ▁tsaon we 
▁men á ka ▁men á ▁neno ka ▁ko han ▁tsaon we 
ka ▁men á ▁neno ka ▁bashpá ▁kishi we 
ka ▁mena ▁neno ka ▁bashpá 
mi ▁ha ▁hi mi ▁bocho ketian ▁riki 
▁ha ▁aon ▁bocho ketian ▁riki 
mi ▁na ▁hi mi ▁bocho ketian ▁riki 
▁ha ▁tapo ▁bocho ketian ▁riki 
ribika ▁hi mi ▁ha ▁hi mi ▁bocho ketian ▁riki 
k na pó hon ▁na k na ▁ k na pó hon ▁ k na pó hon 
xa ▁ka o p hon ▁kapohon 
 
za mo r ra 
 
 
 
 
▁ake 
▁ake 
▁ake 
▁ake 
▁ake 
▁ani ▁xea tiki 
ske tiki 
tiki 
 
 
 
▁xeati ▁aka 
á ▁koko ti ▁aka 
▁xeati ▁aka 
 
batanon 
batanon 
 
 
 
 
 
kanke 
sha kanke 
▁bi k yan ke 
 
 
 
eni ▁to eni ▁ka ▁ha ▁ohon ▁ma 
▁kaya ▁ewen ▁bake ▁tae 
▁ainbo ▁ewen ▁bake ▁tae 
 
 
 
 
 
▁poa ▁bi kasi ▁pis ▁pis ▁pis ▁pis 
▁tita ▁bi kasi ▁tsitseketere ▁tsitseketere ▁tsitseketere ▁tsitseketere 
▁tita ▁bi kasi ▁rah ▁rah ▁rah ▁rah 
▁tita ▁bi kasi ▁tois ▁tois ▁tois ▁tois 
▁tita ▁bi kasi ▁pis ▁pis ▁pis ▁pis 
▁man oke ▁hatianka ▁ah 
t kin ▁kan eke ▁hatianka ▁ah 
▁kan eke ▁hatianka ▁aaa 
 
 
ri ko ra ▁bake ▁pike 
ra ▁bake ▁pike 
▁mi ▁an en ra ▁mi ▁an en ra ▁ma ▁bake ▁pike ▁akai 
▁mi ▁ma rin ra ▁mi ▁ma rin ra ▁ma ▁bake ▁pike ▁akai 
▁mi ▁e w na ra ▁ma ▁bake ▁pike ▁akai 
ki ▁nato 
 
ake 
▁marei ▁kai 
▁com un ic ani ▁kai 
▁marei ▁ k mai 
en ki ▁ha ▁ibiri ▁ibi riki 
ki ▁chorish 
keska 
▁ke bo keska 
▁tapoa ti keska 
keska 
▁ake ▁ma 
 
▁ma ▁akai ▁non ▁a e k 
 
 
yamai 
yamai 
yamai 
▁neno ▁tois ▁aka 
▁en o ▁tsan ▁ake 
▁i k yamai 
aka ▁iyamai 
 
 
▁noa ran ai ▁neska ▁ta shka kin 
ran ai ▁neska ▁kenekin 
ran ai ▁neska ▁ta shka kin 
 
 
k resi 
 
 
 
▁mia ▁miraka me i 
▁anoi ra 
ene i 
 
 
 
 
 
 
▁kayamai 
▁nato ▁po inki ▁here 
▁ha ▁po inki ▁here 
▁nato ▁po inki ▁ibiri 
▁nato ▁po in ▁here 
▁kayamai 
▁a k na bi ▁kayamai 
 
▁yoike 
▁behon 
▁min ▁je f a ▁behon 
▁iná hon 
▁behon 
 
 
▁hena 
▁oi 
e w n ▁hena 
▁ren ▁hawe 
▁a ▁pa yo ▁awe 
▁hoho ▁awe 
▁r ne ▁awe 
▁ake 
 
 
ue go ▁akaka 
▁ha 
 
 
 
 
 
 
▁oai 
honwe ▁akin ▁akai ▁awen ▁ewan ▁yoike 
an honwe ▁akin ▁akai ▁awen ▁epaha n ▁yoike 
▁akin ▁akai ▁awen ▁ewan ▁yoike 
▁pa ena hani 
▁neno ▁hon ena hani 
▁hon ena hani 
▁nia kanwe 
▁nia kanwe 
▁a 
▁ha 
▁ren ▁iketian 
▁peh ▁iketian 
▁iki ▁r n ▁iketian 
▁hena ▁men f a ▁potake 
 
 
 
 
▁iki ▁oa ▁ren ▁iki ▁ren ▁iki 
▁iki ▁ha ▁ren ▁iki ▁ren ▁iki 
▁iki ▁a ▁ren ▁iki ▁ren ▁iki 
▁iki ▁ha ▁soko ▁iki ▁soko ▁iki 
▁iki ▁ha ▁ashpaketere ▁iki ▁ashpaketere ▁iki 
▁iki ▁ha ▁ren ▁iki ▁ren ▁iki 
 
 
 
 
 
ti 
▁paranti ▁paranti ▁kai 
▁mo te lo ▁mo te lo ▁pewe i 
▁toh ▁me o te lo ▁mo te lo ▁kai 
 
▁pano ▁pano ▁akaka ▁yan kon to ro 
▁pano ▁pano ▁akaka ▁yan kon to ro 
▁tsi mo ▁tsi mo ▁tsi mo ▁akaka ▁yan kon to ro 
▁chi chi ▁chi chi ▁chi chi ▁akaka ▁yan kon to ro 
▁yowe ya ▁yowe ya ▁yowe ya ▁akaka ▁yan kon to ro 
▁yoina ▁yoina ▁akaka ▁yan kon to ro 
▁pa on ▁pano ▁akaka ▁yan kon to o 
 
 
 
 
 
▁yoinai 
▁kai 
▁hain ▁kai 
ra ▁aka ▁iki ▁ha 
 
▁lo mb ri ska 
gre ka 
boki ▁ma ▁oai ▁ma 
ya ▁hon eta 
an ka a 
 
▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh 
▁ha ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh 
▁ha ▁yantan ▁peh ▁yantan ▁peh ▁yantan ▁peh ▁yantan ▁peh 
▁ha ▁nachi ▁koish ▁nachi ▁koish ▁nachi ▁koish ▁nachi ▁koish 
▁ha ▁nachi ▁ha ▁nachi ▁ha ▁nachi ▁ha ▁nachi ▁ha 
▁ha ▁honi ▁peh ▁honi ▁peh ▁honi ▁peh ▁honi ▁peh 
▁ha ▁bana ▁peh ▁bana ▁peh ▁bana ▁peh ▁bana ▁peh 
▁ha ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁p ne h 
 
 
▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh 
ribi ▁mahko ▁peh ▁mahko ▁peh ▁mahko ▁peh ▁mahko ▁peh ▁mahko ▁peh ▁mahko ▁peh ▁mahko ▁peh 
ribi ▁pa ro ▁peh ▁pa ro ▁peh ▁pa ro ▁peh ▁pa ro ▁peh ▁pa ro ▁peh ▁pa ro ▁peh ▁pa ro ▁peh 
ribi ▁nachi ▁ha ▁nachi ▁ha ▁nachi ▁ha ▁nachi ▁ha ▁nachi ▁ha ▁nachi ▁ha ▁nachi ▁ha 
ribi ▁ka sti ko ▁peh ▁ka sti ko ▁peh ▁ka sti ko ▁peh ▁ka sti ko ▁peh ▁ka sti ko ▁peh ▁ka sti ko ▁peh ▁ka sti ko ▁peh 
ribi ▁mo te lo ▁peh ▁mo te lo ▁peh ▁mo te lo ▁peh ▁mo te lo ▁peh ▁mo te lo ▁peh ▁mo te lo ▁peh ▁mo te lo ▁peh 
ribi ▁nachi ▁koish ▁nachi ▁koish ▁nachi ▁koish ▁nachi ▁koish ▁nachi ▁koish ▁nachi ▁koish ▁nachi ▁koish 
ribi ▁nachi ▁peh ▁nachi ▁p he ▁nachi ▁p he 
 
 
 
▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh ▁nachi ▁peh 
ro ▁peh ▁yan kon to ro ▁peh ▁yan kon to ro ▁peh ▁yan kon to ro ▁peh ▁yan kon to ro ▁peh ▁yan kon to ro ▁peh 
▁peh ▁cho ko ro ▁peh ▁cho ko ro ▁peh ▁cho ko ro ▁peh ▁cho ko ro ▁peh ▁cho ko ro ▁peh 
▁ha ▁nachi ▁ha ▁nachi ▁ha ▁nachi ▁ha ▁nachi ▁ha 
▁piosh ▁nachi ▁piosh ▁nachi ▁piosh ▁nachi ▁piosh ▁nachi ▁piosh 
▁peh ▁nachi ▁peh ▁nachi ▁peh 
 
 
 
 
 
 
 
honki ▁aka ▁iki 
▁iki 
 
 
 
 
▁pachi i ▁ma ▁pachi i ▁ino ▁pachi i ▁kentsin 
▁heriheri i ▁ma ▁heriheri i ▁ino ▁heriheri i ▁kentsin 
▁ma ▁kai ▁ino ▁kai ▁pa lo 
▁ma ▁kai ▁ino ▁kai ▁ke tsin 
▁poi 
ic an 
 
 
 
 
 
 
 
k riba we ▁poi ribi we 
we ▁poi ribi we 
 
ri b ke 
▁xaobires ▁ishto ▁ha 
▁raka ▁ha 
▁poi ▁oa 
▁poi ▁ha 
▁maka ▁xaobires ▁poi ai 
bires ▁maka ▁bacho bires ▁poi ai 
▁maka ▁xaobires ▁onan ai 
▁maka ▁xaobires ▁poi ai 
shoko ▁miaribi ▁i k riba we 
jo keska shoko ▁miaribi ▁iriba we 
ka ▁poi ribike 
ribike 
▁mi shtin hoko 
ko ▁mi shtin hiko 
tankin 
▁bi tankin 
ta me ti 
me ti 
tan 
 
▁ino ▁ha 
▁haton ▁rete kasika ▁a ▁bi ma ▁ikebetin 
▁haton ▁rete kasika ▁a ▁pani ma ▁ikebetin 
si ka ▁haton ▁rete kasika ▁a ▁bi ma ▁ikebetin f 
kasika ▁ino ▁keneke ▁ha 
▁ino ▁keneke ▁oa 
▁ino ▁keneke ▁ha 
 
 
 
 
 
▁ma 
 
▁ika ▁iki ▁ha 
▁iki ▁ha 
▁ika ▁iki ▁ha 
kani ka ▁neke 
ka ▁neke 
 
bain kani ▁ino 
i ▁wini ▁wini baini ▁bokana 
▁pani baini ▁bokana 
▁wini baini ▁motsa kana 
▁wini ▁wini baini ▁bokana 
 
 
ta ▁han i ▁riki ▁moa 
k riba ▁iki ▁yawish 
▁iki ▁yawish 
 
 
 
 
 
▁a ▁here ▁here ▁akon ▁aki 
ka ▁chan ka ▁hakon ▁aki 
ki ▁ha ▁here ▁here ▁legí mi to ▁aki 
er ▁here ▁hakon ▁aki 
hon 
▁ahon 
▁pakaronin ▁manei ▁manei 
yai ▁epaha ▁ka yai ▁ka yai 
▁epaha ▁manei ▁m na ei 
 
 
 
 
 
tian 
 
▁moa ▁yoa ▁moa ▁yoa 
▁moa ▁roe ▁moa ▁roe 
▁moa ▁awin ▁moa ▁awin 
▁moa ▁ba k re an o ▁moa ▁bakerano 
k bainki ▁en ▁to ▁a k bainki 
bainki ▁a boton ▁mare bainki 
▁en ▁mare bainki 
▁te cha ke 
▁aki ▁tapo ▁aki 
▁s ai ▁nawa ▁aki ▁s ai ▁nawa ▁aki 
▁tapo ▁aki ▁tapo ▁aki 
tai bires 
wish ▁ha ronki ▁po t hai bires 
▁weni i bires 
tai bires 
 
 
 
 
 
▁chiban i 
▁chiban i 
▁kake 
▁kake 
 
▁ma 
▁ma 
▁ma 
ni ▁iki ▁weni ▁weni ▁iki 
 
 
▁ma ▁ma ▁che hai 
▁kai 
▁ma ▁keenai ▁yawish ribi ▁keenai ▁ma 
▁ma ▁p ini i ▁ta pon ribi ▁p ini i ▁ma 
▁ma ▁maai ▁yawish ribi ▁maai ▁ma 
▁más ▁ma ▁p ini ▁yawish ribi ▁p ini ▁ma 
▁machi ▁inai ▁machi ▁inai ribi 
i ▁ka ru ▁inai ▁ka ru ▁inai ribi 
▁mapo i ▁x an ó ▁inai ▁x an ó ▁inai ribi 
▁machi ▁ke wi i ▁machi ▁ke wi i ribi 
▁m ca hi ▁inai ▁machi ▁inai ribi 
o ▁mas o ▁natoti ▁nenké 
▁bohka ▁natoti ▁nenké 
o ▁mas o ▁natoti ▁nenké 
▁toh ▁neska ti ▁yawish 
▁toh ▁neska ti ▁yawish 
 
 
 
 
ho 
 
 
 
▁mara ▁en ▁mareke 
▁en ▁mareke 
▁ki roko ▁iki 
▁i k ▁weni ▁w n eni ▁iki 
 
 
 
 
 
te h he ten ▁rakata 
▁choka a 
▁ma ▁ohon ▁rakata 
anke ▁nato ▁riki 
 
oi ke 
 
▁reteke 
▁reteke 
oa ▁ma ▁yama ▁moa 
▁moa 
 
z 
 
 
 
 
an kana 
▁an o ▁bian an kana 
i an an kana 
kana 
 
an kanaka ▁ika ▁iki ▁ha po yopo yo cho ▁xo bon ▁yaka ▁ya kati ka 
▁iki ▁ha bicho ▁xo bon ▁yaka ▁ya kati ka 
▁iki ▁ha bicho ▁micha ▁i bon ▁yaka ▁ya kati ka 
▁iki ▁ha bicho ▁xo bon ▁est ud i an ▁est ud i an tika 
▁ha ▁bi cho ▁xo bon ▁yaka ▁ya kati ka 
▁ha 
▁ha ▁ha 
▁ren ▁ren ▁ren 
▁choishi ▁choishi ▁choishi 
▁horo ▁horo ▁horo 
▁pon ▁pon ▁cho kama ▁pon ▁pon ▁cho kama ▁pon ▁pon ▁cho kama ▁iki ▁ninkati ▁pon ▁pon ▁cho kama 
▁ke tere ▁ke tere ▁iki ▁ninkati ▁ke tere 
▁iki ▁ninkati ▁horo 
▁mai ▁akai 
we ▁horo ▁akai 
▁pao ▁akai 
▁horo ▁akai 
 
 
 
 
bo ▁tsama t beran i 
on a s bo ▁tsama t beran i 
▁tsama beran i 
▁mato ▁iketian ▁ha ▁min ▁ea ▁a k wan ke ▁ho ron 
▁iketian ▁ha ▁min ▁ea ▁a k wan ke ▁ho ron 
▁iketian ▁ha ▁min ▁ea ▁a k wan ke ▁ho ron 
▁iketian ▁ha ▁min ▁no ▁bo ▁a k wan ke ▁ho ron 
▁iketian ▁ha ▁min ▁ea ▁aw anke ▁ho ron 
we ▁mia bo ▁min ▁akin ▁a k wan ke 
we ▁ea ▁min ▁akin ▁aw anke 
k wan a ▁eah bo ▁riki ▁eah bo ▁iki betin 
▁aw ana ▁ea ▁ri i k ▁ea ▁iki betin 
 
k tanwe 
 
▁nawa ▁oini ▁kahon ▁kai ▁ha 
▁bacho ▁oini ▁kahon ▁kai ▁ha 
▁oini ▁pake ti ▁nawa ▁oini ▁pake t hon ▁pake ti ▁ha 
▁nawa ▁oini ▁kahon ▁kai ▁ha 
 
 
tian ▁hain ▁ika ni 
▁oini ▁hoai 
▁oini ▁hoai 
tan ▁come ri ▁hoai 
▁oi in ▁hoai 
▁je fe ▁je fe ▁je fe ▁je fe ▁ikai ▁iki 
bon ▁habon ▁habon ▁habon ▁ikai ▁iki 
mpo s ▁ika ▁iki ▁ca mpo s 
▁ika ▁iki ▁habon 
▁natora 
ki ▁natora 
▁ara 
▁natora 
res 
 
ta ▁riki 
 
▁iki ▁ha ▁a k tima ▁riki 
▁iki ▁ha ▁a k tima ▁riki 
o ber na do r ▁iki ▁ha ▁a k tima ▁riki 
▁iki ▁ha ▁atima ▁riki 
▁riki ▁ha ▁a k tima ▁riki ▁hain ▁karibake 
▁atima ▁riki ▁hain ▁karibake 
 
 
 
ri bake 
 
 
 
 
 
 
 
▁tapas 
á ra ▁ha ▁honi ▁tsama t ke ▁i k ronki ▁hara ▁waka mar ina ▁waka mar ina ▁waka mar ina ▁honibo ▁iki 
▁honi ▁tsama t ke ▁i k ronki ▁hara ▁tapas ▁tapas ▁tapas ▁honibo ▁iki 
▁ha ▁honi ▁tsama t ke ▁i k ronki ▁hara ▁tapas ▁tapas ▁tapas ▁honibo ▁iki 
▁ha ▁o tsa ▁tsama t ke ▁i k ronki ▁hara ▁tapas ▁tapas ▁tapas ▁o tsa bo ▁iki 
▁ha ▁honi ▁toa ke ▁i k ronki ▁hara ▁tapas ▁tapas ▁tapas ▁honibo ▁iki 
▁a ▁honi ▁tsama t ke ▁i k ronki ▁ara ▁tapas ▁tapas ▁tapas ▁honibo ▁iki 
▁ha ▁honi ▁tsama t ke ▁i k ronki ▁hara ▁naya ▁naya ▁naya ▁honibo ▁iki 
▁ha ▁honi ▁tsama t ke ▁i k ronki ▁hara ▁tasti ▁tasti ▁tasti ▁honibo ▁iki 
▁ha ▁nachi ▁tsama t ke ▁i k ronki ▁hara ▁tapas ▁tapas ▁tapas ▁nachi bo ▁iki 
▁honi ▁tsama ke ▁i ronki ▁hara ▁tapas 
▁riki ▁ara ▁akon ma ▁honi ▁iki 
▁riki ▁ara ▁akon ma ▁honi ▁iki 
▁riki ▁hara ▁hakonma ▁bake ▁iki 
ra a ▁hakonma ▁honi ▁iki 
 
 
 
 
▁honi 
 
 
 
 
 
 
▁iki ▁otsi ▁iki 
▁iki ▁nohron ▁x iki 
▁rete tiki 
▁mawa tiki 
ra ▁rete t n iki 
▁ma 
 
 
 
 
▁bospi kan ketian ▁honi 
▁ha ▁oha kan ketian ▁honi 
▁piosh 
▁pianki ▁j iki ▁cha 
▁winon ▁mare ▁mare ti 
in no ▁mare ▁m ra e ti 
 
 
 
 
▁ha 
▁ha 
l onia ▁iketian ▁ha 
 
▁kati ▁chiho yamake ▁ha ▁bakish ▁men á ka ▁ika 
▁kati ▁atipan yamake ▁na ▁bakish ▁men á ka ▁ika 
▁kati ▁atipan yamake ▁ha ▁bakish ▁chi pon ki ka ▁ika 
▁kati ▁atipan yamake ▁ha ▁bakish 
anke an n 
▁on on 
ka 
tan ▁on tan me ti ▁oa 
▁on tan me i ▁ha 
 
▁ha ▁toh 
▁na ▁toh 
▁ha ▁toh 
 
in ka ▁nato ▁oni ▁rete pakeke 
▁rete pakeke 
▁rete pakeke 
▁aka ▁iki 
▁iki 
▁te ▁sh tehon 
▁te ▁sh tehon 
▁te sh te h n 
▁ma ▁iki ▁bohka 
▁ma ▁iki ▁nawa 
▁ma ▁iki ▁bohka 
an kinka ▁wetsa ▁hema ▁est ud i an kin 
▁hema ▁bo kin 
▁chanpeh ▁bo kin 
▁wetsa ▁hema ▁yon á kin 
he ma ▁bo kin 
▁aka ▁iki ▁ha ▁nawa ▁koa kan an an ▁riki 
▁aka ▁iki ▁ha ▁nawa ▁rete kan an ▁riki 
on ▁enribi ▁ren on ▁awerano honki ▁mia ▁kai ▁iki 
on ▁enribi ▁en on ▁awerano honki ▁mia ▁kai ▁iki 
▁enribi ▁retenon ▁awerano honki ▁mia ▁non oi ▁iki 
▁a boton ribi ▁retenon ▁a boton ribi ▁retenon ▁awerano honki ▁mia ▁kai ▁iki 
▁enribi ▁ret u en on ▁awerano honki 
▁mi ▁aka ▁iki 
 
 
 
▁hainhon ▁atan kanwe 
 
al a ba za 
al a ba za 
▁a k tan kanwe 
ton ▁hainhon ▁atan kanwe 
 
▁honi ▁beke ▁awen ▁on ko ▁awen ▁on ko ▁oin tian ▁aka ▁iki ▁ka yamawe ▁ka yamawe 
▁honi ▁beke ▁awen ▁wa y on ▁awen ▁wa y on ▁oin tian ▁aka ▁iki ▁ka yamawe ▁ka yamawe 
h ▁ha ▁honi ▁beke ▁awen ▁wetsa ▁awen ▁wetsa ▁oin tian ▁aka ▁iki ▁meko h yamawe ▁meko h yamawe 
▁honi ▁beke ▁awen ▁wetsa ▁awen ▁wetsa f ▁oi tian 
 
▁miran ▁oai tian 
▁wetsa ▁chokai tian 
▁wetsa ▁oai tian 
 
 
 
 
 
 
k tanwe ▁trece hoko 
▁i tanwe ▁wistewan hako 
▁waka ▁chihonme ▁así 
ena me ▁waka ▁t ena me ▁así 
o ▁chihonme ▁pakaron o ▁chihonme ▁así 
á ▁waka ▁men á ▁así 
▁waka ▁chihonme ▁así 
▁oni 
▁nato ▁oni 
▁ha ▁ho z ni 
▁bakon ka ▁bakon 
▁tin go ▁mari aka ▁tin go ▁mari a 
▁kawa ka ▁kawa 
▁ha ▁bakon ka ▁bakon 
 
 
▁bokana 
ud an kana 
 
ko mpan a ▁oh ▁oh 
mpan a ▁oh ▁oh 
 
 
▁ma za mo r ra ▁bo ko mpan a ▁oh ▁oh 
bi ▁nawa ▁bo ko mpan a ▁oh ▁oh 
baini ▁ha pan ati 
▁bo 
 
 
 
 
 
 
 
▁bo 
▁asin 
 
ai ▁noa ▁f le cha ko mpan ai ▁noa ▁f le cha ▁ika n anai ▁nokon ▁f le cha ▁xate ai 
ko mpan ai ▁noa ▁bo ▁ika n anai ▁nokon ▁bo ▁maai 
▁bo ko mpan ai ▁mia ▁bo ▁ika n anai ▁nokon ▁bo ▁xate ai 
o ▁bo ko mpan ai ▁noa ▁bo ▁i ran ai ▁nokon ▁bo 
teke ▁koin ▁chachi ▁bai ▁xe tei shoko ▁riki 
teke ▁mapo ▁i tsa ▁xe tei shoko ▁riki 
▁koin ▁bo ▁xe tei shoko ▁riki 
teke ▁koin ▁i tsa z ▁xe tei shoko ▁riki 
kaini 
kaini 
▁toro ▁más ▁oscuro 
▁man ko ▁más ▁oscuro 
▁ma ▁bakish ▁más ▁vieji to 
▁ma ▁bakish ▁más ▁oscuro 
 
▁sin á ika 
tika 
▁aka ▁iki 
▁iki 
 
 
 
 
▁wetsa ▁ha ▁waka ▁chihonme ▁aka shoko ▁han ▁hene ▁tsaka ke 
▁wetsa ▁ha ▁waka ▁chihonme ▁aka shoko ▁han ▁hene ▁tsaka ke 
▁wetsa ▁ha ▁waka ▁chihonme ▁aka shoko ▁han ▁hene ▁tsaka ke 
▁wetsa ▁ha ▁waka ▁chihonme 
▁yoashi i 
k kai 
 
▁chicho ▁non oi ▁waka ▁chicho ▁waka ▁chicho ▁kai 
▁hene ▁waka ▁ne a ton ▁non oi ▁waka ▁ne a ton ▁waka ▁ne a ton ▁kai 
▁mena ▁non oi ▁waka ▁mena ▁waka 
▁na 
 
el ▁ag ua ▁wasi honki ▁nato 
el ▁ag ua ▁kahonki ▁na 
el ▁ag ua ▁kahonki ▁nato 
ro ▁tsas ▁ro ro ▁xa teke 
▁tsas ▁bo ▁icha ke 
▁tsas ▁bo ▁xa teke 
▁non ▁tonpin ▁ha ▁chicho ▁tonpin ka 
▁tonpin 
 
 
ya ▁tsas 
▁bo ▁tsas 
 
 
 
tian ▁kai ▁ha ▁bo ▁tsas 
tian ▁tosh bai ▁ha ▁bo ▁tsas 
tian ▁kai ▁a ▁bo ▁tsas 
tian ▁kai ▁ha ▁pao ▁tsas 
▁ha ▁bo ▁tsas 
kaini 
▁nibo rewan ki ▁oke 
▁aka ▁iki ▁awen ▁wetsaki ▁ho wa ke 
▁wetsaki ▁oke 
▁oni ▁shi take ▁ha ▁mi ▁yoia bi ▁mi ▁aka ▁iki ▁rama 
▁keyo e k ▁ha ▁mi ▁yoi ya bi ▁mi ▁ka ▁iki 
▁yoia ▁oa ▁oa ▁aka ▁iki 
▁mi ▁aka ▁iki 
▁rais ▁xate ai ▁rais 
▁yosi ▁xate ai ▁yosi 
▁bo ▁pikotai ▁bo 
▁bo ▁xate ai ▁bo 
be pon ▁ha 
 
▁iki ▁ha 
▁iki ▁a 
▁iki ▁ha 
▁yan ka ▁bena ▁awin ▁yan ka ▁aka ▁iki ▁nato ▁nato ▁ako 
▁legí mi to ▁awin ▁yan ka ▁legí mi to ▁awin ▁yan ka ▁aka ▁iki ▁nato ▁nato ▁ako 
▁yan ka ▁bena ▁kaya ▁yan ka ▁aka ▁iki ▁nato ▁nato ▁ako 
▁yan ka ▁bena ▁kamoh ▁yan ka ▁aka ▁iki ▁nato ▁nato ▁ako 
▁yan ka ▁bena ▁awin ▁yan ka ▁aka ▁iki ▁ha ▁ha ▁ako 
▁yan ka ▁bena ▁awin ▁yan ka ▁aka ▁iki ▁oa ▁oa ▁ako 
▁awin yaton ka ▁bena ▁awin yaton ka ▁aka ▁iki m 
▁tin ▁tin ▁tin ▁nawa 
▁in ▁tin ▁t h in ▁ako q 
 
 
 
 
▁ti ▁tin ▁iki 
 
ta 
a 
 
▁ma ▁ki ri ko ▁keyo ta 
▁ma ▁honi ▁kan e a 
▁honi ▁keyoa 
▁ha on 
boka ▁ha 
boka ▁ha 
boka ▁ha 
boka ▁nato 
j sa ▁honi boka ▁ha 
x eke ▁bakon ▁chi koi ▁chi koi ▁ha ▁a ▁que ma do 
ke ▁bakon ▁ra ei ▁ra ei ▁ha ▁a ▁que ma do 
ha ▁b ha kon ▁meno ke ▁b ha kon ▁chi koi ▁chi koi ▁h ha ▁ha ▁que m ha do 
ke ▁bakon ▁chi koi ▁chi koi ▁ha ▁a ▁kepan 
ke ▁bakon ▁chi koin ▁chi koin ▁ha ▁a 
 
ko ke 
ke 
ko ke 
 
 
to ro ▁ha bires ▁ma ▁yan kon to ro ▁boa 
bires ▁ma ▁bakon ▁boa 
 
oa 
▁hainra ▁ma ▁kahke ke ▁hainres ▁iki ▁moa 
▁hainra ▁ma ▁keyoke ▁hainres ▁iki 
un to 
 
 
 
▁no 
▁ro to kin 
 
▁miraka me kin 
 
▁meni kin 
 
 
 
 
 
 
 
we 
 
▁kené ▁onan ma paoni 
▁onan ma paoni 
ro k ▁onan ma paoni 
▁mis toma paoni 
▁onan ma paoni 
 
▁hanebon 
 
á i ▁rome ▁ayahon 
▁irabo ▁ayahon 
▁rome ▁kawan hon 
n ki ▁oina ▁iki ▁rome ▁ayahon 
▁iro 
▁kené ▁iro 
▁iro 
▁ken sho 
▁iro 
bo ▁oin hon ▁akai 
▁ken sho bo ▁oin hon ▁akai 
bo ▁legí mi to bo ▁oin hon ▁akai 
bo ▁oin hon ▁tsaon ai 
bo w ▁oin hon ▁akai 
▁awin ▁yoia 
▁vieji i ta ▁yoia 
▁awin ▁chan chan ▁iki a 
▁awin ▁y i oa 
▁irapairo ra ▁ena ▁oinke 
▁oinke 
▁oinke 
▁m ha ri ▁p ha k ha ▁kenekin 
▁kenekin 
▁come kin 
 
oa 
 
 
 
▁iki 
a ▁iki 
 
▁bimi ▁motsahon ▁ete ▁bimi ▁motsahon 
▁motsahon ▁ete ▁bimi ▁motsahon 
▁a ▁paka ▁mo ka ▁aki 
▁kené ke ▁ha ▁p ha k ha ▁kené ▁haki 
▁a ▁chi chi ▁kené ▁aki 
▁kene ▁aki 
▁paka ▁kené paoti 
▁mapo ▁kené paoti 
▁paka ▁poi paoti 
▁paka ▁kenepaoti 
▁pehnebeiti 
▁aon ▁kena ki 
▁ana ▁pehnebeiti 
▁rome ▁ayaribike 
▁pake tiki ▁rome ▁ayaribike 
 
▁wets ha ▁kené ki ▁oinribike ▁h han e bon 
▁yoashi ki ▁oinribike ▁hanebon 
▁kené ki ▁oinribike ▁hawen 
▁keneki ▁oinribike ▁hanebonin 
c all pa ▁oinribike 
he ▁oinribike 
 
 
ki ki 
ki ▁kené kin 
k ti ▁mako sh tima ki ▁kené kin 
▁tanki ki ▁ebo kin 
▁kenekin 
kin 
 
▁mi ts na ▁kené ▁i r na p n ai ro 
▁mitsa ▁i yá ▁irapairo 
▁mitsa ▁kené ▁hana 
▁mitsa ▁kene ▁irapairo 
ti ▁mari 
k ti ▁mari 
ri 
 
ti 
 
 
▁iro 
ki ▁we shta 
ki ▁iro 
 
tibi ▁ayaribike 
tibi ▁ayaribike 
 
 
ri 
▁kene ▁irapairo ri 
▁ha ▁popo ki riki 
ki riki 
▁a 
▁a 
▁be mo an oai ▁oa 
 
▁oni ▁bemanai ▁a k we ▁a k ronki ▁toke 
▁is á ▁bemanai ▁a k we ▁a k ronki ▁keneke 
▁anima ri i ▁a k we ▁a k ronki ▁keneke 
▁bemanai ▁ma a we ▁ma a ronki ▁keneke 
▁bemanai ▁man e we ▁man e ronki ▁keneke 
▁oni ▁bemanai ▁a k we ▁a k ronki ▁cha ka ke 
▁oni ▁oni ▁bemanai ▁awe ▁aronki ▁keneke 
 
 
 
 
▁a ▁kené ▁a k non ▁a ▁ma ▁akin ▁arasi ta bi ▁a ▁kené ▁a k ti ▁riki ▁arasi ta bi ▁a ▁kené ▁a k non ▁aka ▁paka 
hai ro ▁riki ▁ha ▁kené ▁ha k non ▁ha ▁m ha ▁ha kin ▁ha r ha si t ha bi ▁ha ▁kené ▁ha k ti ▁riki ▁ha r ha si t ha bi ▁ha ▁kené ▁ha k non ▁ha k ha ▁p ha k ha 
hai ro ▁riki ▁ha ▁kené ▁ha k non ▁ha ▁m ha ▁ha kin ▁ha r ha si t ha bi ▁ha ▁kené ▁ha k ti ▁riki ▁ha r ha si t ha bi ▁ha ▁kené ▁ha k non ▁ha k ha ▁p ha k ha 
▁a k non ▁a ▁ma ▁akin ▁arasi ta bi ▁a ▁kené ▁a k ti ▁riki ▁arasi ta bi ▁a ▁kené ▁a k non ▁aka ▁paka 
p na to i ro ▁riki ▁nato ▁kené ▁nato k non ▁nato ▁m na to ▁nato kin ▁nato r na to si t na to bi ▁nato ▁kené ▁nato k ti ▁riki ▁nato r na to si t na to bi ▁nato ▁kené ▁nato k non ▁nato k na to ▁p na to k na to 
▁an no ▁a ▁ma ▁akin ▁arasi ta bi ▁a ▁kene 
▁bemana ▁bemanai ▁a ▁bemanai ▁a ▁a k ti ▁riki ▁a 
▁tenpiske ▁tenpiske i ▁a ▁tenpiske i ▁a ▁a k ti ▁riki ▁a 
na to ▁kené k na to ▁nato t ina ton ▁be m na ton na to ▁be m na ton na to i ▁nato ▁be m na ton na to i ▁nato ▁nato k ti ▁riki ▁nato 
▁po inki ▁po inki i ▁a ▁po inki i ▁a ▁a k ti ▁riki ▁a 
▁kené k na ▁na tinan ▁be m n an na ▁be m n an n ai ▁na ▁be m n an n ai ▁na ▁na k ti ▁riki ▁na 
ka ▁atian ▁bemana ▁bemanai ▁a ▁bemanai ▁a ▁choro ti ▁riki ▁a 
▁atian ▁bemana ▁bemanai a ▁bemanai a ▁ati ▁riki ▁a 
▁ete ▁bimi ▁motsahon 
▁motsahon 
▁bimi ▁yaka t hon 
▁motsahon 
▁kenpan hon ▁kenpan kanwe 
▁tonpin hon ▁tonpin kanwe 
hon ▁me ya hon ▁me ya kanwe 
▁motsa kanwe 
 
 
ke ▁bemana ▁iki ▁kené kin 
ake ▁po inki ▁iki ▁kené kin 
ake ▁bemana ▁wetsisi ▁kené kin 
ake ▁bemana ▁d iki ▁kenekin 
▁irapairo 
 
ti ▁chi bi 
 
 
 
ti 
 
 
▁yoike 
k we 
 
hon ▁popokiri ▁kené ▁a k we 
hon ▁popokiri ▁kené ▁me ya we 
▁kene ▁awe 
 
 
ake 
▁binake 
n ▁binake 
▁nihon ▁chan in ake 
bin ▁binake 
ka e 
▁tan ake ▁atianki 
bo ▁pake ki bi 
▁re bo ▁re re ki bi 
▁ato ▁re bo pake ki bi 
 
 
 
 
 
 
 
ani ketian ▁mision ero bon ▁pa yo ani ketian 
ani ketian ▁mision ero bon ▁i wan ani ketian 
ero bon ▁raeaniketian 
▁raeaniketian ▁mision ero baon ▁raeaniketian 
 
ai 
ai 
eni 
 
 
 
 
 
 
 
 
 
 
o tian 
▁rama kama 
kama 
 
bon ▁atipan a 
▁onana 
habo bo k ha ▁m ha ▁ha ▁on han k hati ▁i w habo bo ▁m ha ▁y ha m ha 
▁a ▁sebi kati ▁iwabo bo ▁ma ▁yama 
▁ma ▁a ▁onan kati ▁chorish bo bo ▁ma ▁yama 
▁a ▁onan kati ▁iwabo bo ▁ma ▁yama 
maka a 
 
 
 
k x i ▁a 
 
 
 
inki i ▁ewen ▁po inki ▁nato ▁yoihon 
▁ewen ▁bana ▁nato ▁yoihon 
▁ewen ▁bana ▁nato ▁sebi hon 
▁ewen ▁bana ▁nato ▁yoihon 
 
 
ma ▁kené ▁onana ▁wensan ▁kené ▁yora ▁kené bo ▁ati 
▁kené ▁w in oa ▁wensan ▁kené ▁yora ▁kené bo ▁ati 
▁kené ▁onana ▁bake ▁kené ▁yora ▁kené bo ▁ati 
to si res ▁ike m na to ▁kené ▁on na ton a to ▁wen s na ton ▁kené ▁yo r na to ▁kené bo ▁natoti 
▁kene ▁onana ▁wen s n ▁kene ▁yora ▁kenebo ▁ai t 
 
▁kené ti 
ti 
 
 
▁a 
bo ▁riki ▁a 
ti 
 
 
▁keneti 
 
▁keneti 
 
roa 
 
 
 
ketian ▁kenekin ▁peokani 
▁kenekin ▁peokani 
ani 
 
 
 
▁aweahon ▁pewe a bira 
hon ▁pewe a bira 
bon ki ▁pewe a ▁yoishi ▁b toa e bon ki 
bon ki ▁pewe a ▁yoishi ▁bakebon ki 
ki ▁pewe a ▁mai ti ▁bakebon ki 
ki ▁pewe a ▁yoishi ▁pehnebeiti bon ki 
▁pewe a ▁yoishi ▁bakebon ki 
▁kabiti ▁a k ti 
drí gu ez ▁a k ti 
i ▁ati 
k paoni 
 
reski 
▁hanahon ▁yan kon to ro ▁hanahon reski 
▁bari ▁po ho hon reski 
oh n reski 
▁chan ka ▁yosi ma hoko ▁iketian ki 
▁ken sho hoko ▁iketian ki 
▁yosi ma ▁ro drí gu ez ▁yosi ma hoko ▁iketian ki 
hoko ▁iketian ki 
▁yosi ma hako ▁i e k tian ki 
hon ▁bari ▁vieji tahon res 
▁mare hon ▁ki ri ko ▁hanahon res 
▁bari p ▁hanahon res 
▁onan paoti ▁iwa bon 
▁pi paoti ▁hatibi bon 
▁p pi a oti ▁iwaboton 
bon ki ▁yo ha shi ▁b hake bo 
▁yoashi ▁hawan bo 
▁bakebo 
kanwe 
 
te ti 
ti 
 
i k ▁non ▁iwaboton 
kin ▁pe wen i ke 
▁ai k n ▁pe wen i ke 
 
ke 
ke 
 
ke bika ▁nato 
▁nato 
