{% extends "base.html" %} {% block title %}Crear Experimento{% endblock %} {%
block content %}
<section class="container my-5">
    <h1 class="display-5 text-center mb-4">Crear nuevo experimento</h1>
    <form
        action="/api/crear-experimento"
        method="post"
        enctype="multipart/form-data"
        id = "experiment-form"
    >
        <div class="accordion" id="experimentAccordion">
            <!-- Datos Generales -->
            <div class="accordion-item border " data-completed="false">
                <h1 class="accordion-header" id="headingDatosGenerales">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseDatosGenerales"
                        aria-expanded="true"
                        aria-controls="collapseDatosGenerales"
                    >
                        Datos generales
                        <span class="completed-icon" style="display: none"
                            >✔️</span
                        >
                    </button>
                </h1>
                <div
                    id="collapseDatosGenerales"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingDatosGenerales"
                    data-bs-parent="#experimentAccordion"
                >
                    <div class="accordion-body">
                        <div class="mb-3">
                            <label for="nombre" class="form-label strong"
                                >Nombre del experimento<span class="text-danger">*</span></label
                            >
                            <input
                                type="text"
                                id="nombre"
                                name="nombre"
                                class="form-control"
                                placeholder="Ingrese el nombre del experimento"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label"
                                >Descripción<span class="text-danger">*</span></label
                            >
                            <textarea
                                id="descripcion"
                                name="descripcion"
                                class="form-control"
                                rows="5"
                                placeholder="Describa el objetivo del experimento. Este campo se le mostrará a los participantes."
                                required
                            ></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="language" class="form-label"
                                >Seleccione la lengua a evaluar<span class="text-danger">*</span></label
                            >
                            <select
                                id="language"
                                name="language"
                                class="form-control"
                                required
                                hx-get="/api/lenguas?html=true"
                                hx-trigger="load"
                                hx-target="#language"
                                hx-swap="innerHTML"
                            >
                                <option value="isk">Seleccione una lengua</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Subir Archivos -->
            <div class="accordion-item border " data-completed="false">
                <h1 class="accordion-header" id="headingSubirArchivos">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseSubirArchivos"
                        aria-expanded="false"
                        aria-controls="collapseSubirArchivos"
                    >
                        Subir Archivos
                        <span class="completed-icon" style="display: none"
                            >✔️</span
                        >
                    </button>
                </h1>
                <div
                    id="collapseSubirArchivos"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingSubirArchivos"
                    data-bs-parent="#experimentAccordion"
                >
                    <div class="accordion-body">
                        <div class="mb-3">
                            <label for="archivo" class="form-label"
                                >Seleccione los archivos (.txt)<span class="text-danger">*</span></label
                            >
                            <input
                                type="file"
                                id="archivo"
                                name="archivos[]"
                                class="form-control"
                                accept=".txt"
                                multiple
                                required
                            />
                        </div>
                        <div id="file-configurations">
                            <!-- Cards for each file will be added here -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Validación -->
            <div class="accordion-item border " data-completed="false" id="validacionItem">
                <h1 class="accordion-header" id="headingValidacion">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseValidacion"
                        aria-expanded="false"
                        aria-controls="collapseValidacion"
                    >
                        Validación
                        <span class="completed-icon" style="display: none"
                            >✔️</span
                        >
                    </button>
                </h1>
                <div
                    id="collapseValidacion"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingValidacion"
                    data-bs-parent="#experimentAccordion"
                >
                    <div class="accordion-body">
                        {% include 'validacionConfig.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">
                Crear Experimento
            </button>
        </div>
    </form>

    <div id="loading-screen" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Creando experimento...</span>
        </div>
    </div>

    <script>
        document.getElementById('experiment-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
            document.getElementById('loading-screen').style.display = 'block'; // Show the loading screen

            const formData = new FormData(this);

            fetch(this.action, {
                method: this.method,
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === "Experimento creado exitosamente") {
                    console.log(data);
                    window.location.href = `/experimento-creado?from=crear-experimento&experimento_cod=${data.experimento_cod}`;
                } else {
                    alert("Error: " + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("An error occurred while creating the experiment.");
            })
            .finally(() => {
                document.getElementById('loading-screen').style.display = 'none'; // Hide the loading screen
            });
        });
    </script>
</section>
<script src="{{ url_for('static', filename='js/files.js') }}"></script>
<script src="{{ url_for('static', filename='js/acordion.js') }}"></script>
{% endblock %}
