<!-- evaluacion-card.html.j2 -->
<div class="card-body">
    <div class="row">
        <div class="col-md-6 mb-3">
            <h4>Contenido a Evaluar:</h4>
            <div class="border border-info p-3" id="contenido-evaluacion">
                <p>Contenido no disponible.</p>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <h4>Métricas a Evaluar:</h4>
            <div class="border border-info p-3" id="metricas-evaluacion">
                <p>Métricas no disponibles.</p>
            </div>
        </div>
    </div>
    <div id="botones-evaluacion">
   <button class="btn btn-secondary btn-lg" onclick="previousEvaluation()">Anterior</button>
        <button class="btn btn-success btn-lg" onclick="nextEvaluation()">Siguiente</button>
    </div>
</div>