{% extends "base.html" %}

{% block title %}Experimento creado{% endblock %}

{% block content %}
<section class="container my-3">
    {% if request.args.get('from') == 'crear-experimento' %}
    <div class="text-center">
        <h1 class="display-5 mb-4">¡Experimento Creado Exitosamente!</h1>
        <p class="lead">El experimento ha sido creado y está listo para ser utilizado.</p>
        <p>Puede ver los detalles del experimento e invitar a tus validadores a continuación.</p>
    </div>
    {% endif %}
    <div class="experiment-details mt-2">
        <!-- Experiment Details -->
        <div class="container" style="max-height:  56rem; overflow-y: auto;">
            <div class="row mb-4">
                <!-- General Details and Modelos Column -->
                <div class="col-md-6 mb-4" style="max-height: 44rem;">
                    <div class="card mb-2" style="max-height: 36rem;">
                        <div class="card-header bg-secondary text-white">
                            <h3>Detalles generales del experimento</h3>
                        </div>
                        <div class="card-body">
                            <p><strong>Código del experimento:</strong> {{ experimento.codigo }}</p>
                            <p><strong>Nombre del experimento:</strong> {{ experimento.nombre }}</p>
                            <p><strong>Descripción:</strong> {{ experimento.descripcion }}</p>
                            <p><strong>Lengua a evaluar:</strong> {{ experimento.lengua.nombre }} - {{ experimento.lengua.glottocode }}</p>
                            <p><strong>Número de expertos:</strong> {{ experimento.num_expertos }}</p>
                            <p><strong>Número de nativos:</strong> {{ experimento.num_nativos }}</p>
                            <p><strong>Métricas:</strong></p>
                            <ul class="list-group">
                                {% for metrica in experimento.metricas %}
                                <li class="list-group-item" style="cursor: help;" data-toggle="tooltip" data-placement="top" title="{{ metrica.descripcion }}">
                                    {{ metrica.nombre }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card" style="max-height: 19rem;">
                        <div class="card-header bg-secondary text-white">
                            <h3>Modelos</h3>
                        </div>
                        <div class="card-body flex-grow-1 overflow-auto">
                            <ul class="list-group">
                                {% for modelo in experimento.modelos %}
                                <li class="list-group-item">
                                    <strong>{{ modelo.nombre }}</strong>
                                    <span class="badge bg-primary">{{ modelo.ejemplos | length }} ejemplos</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Validadores Column -->
                <div class="col-md-6 mb-4" style="max-height: 50rem; overflow-y: auto;">
                    <div class="card h-100 d-flex flex-column">
                        <div class="card-header bg-secondary text-white">
                            <h3>Validadores</h3>
                        </div>
                        <div class="card-body flex-grow-1 overflow-auto">
                            <ul class="list-group">
                                {% for validador in experimento.validadores %}
                                {% include 'colapsable-validador.html.j2' %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Progress Bar -->
        <div class="card mb-4">
            <div class="card-header">
                <h3>Progreso de Validadores</h3>
            </div>
            <div class="card-body">
                <div class="progress">
                    <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </div>
        </div>

        <!-- Download Button -->
        <div class="text-center mt-4">
            <a href="/download-results/{{ experimento.id }}" class="btn btn-success bg-opacity-75">
                <i class="fas fa-download"></i>
            Descargar resultados del experimento
            </a>
        </div>
    </div>
</section>
<script>
    window.experimento = {{ experimento | tojson | safe }};
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}