{% extends "base.html" %}

{% block title %}Unirse a un experimento{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center h-100">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
        <h1 class="mb-4 text-center">Unirse al Experimento</h1>
        <form action="/validar-experimento" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="codigo" class="form-label">Código de invitación al experimento:</label>
                <input type="text" class="form-control" id="codigo" name="codigo" required>
                <div class="invalid-feedback">
                    Por favor, ingrese el código de invitación.
                </div>
            </div>
            <button type="submit" class="btn btn-success w-100">Unirse</button>
        </form>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}