{% extends "base.html" %}

{% block title %}Validar Experimento{% endblock %}

{% block content %}
<div class="container mt-2">
    <div id="welcome-card" class="p-4" style="display: none;">
        <div class="text-center">
            <p style="font-size: 1.2em; color: #333;">Bienvenido, <strong>{{ validador.nombre }}</strong>. Gracias por
                participar en este experimento.</p>
        </div>
    </div>

    <div id="evaluation-instructions" class="mb-4">
    <div class="alert alert-info" role="alert">
        <h4 style="font-weight: 500;">De parte del creador del experimento:</h4>
        <p>{{ validador.experimento.descripcion }}</p>
    </div>

        <h3>Evaluación de ejemplo:</h3>
        <p>Por favor, lea el contenido a continuación y evalúe las métricas presentadas. Siga las instrucciones e intente proporcionar una evaluación precisa. A continuación se muestra un ejemplo de evaluación:</p>
        <ol>
            <li>Lea el contenido proporcionado.</li>
            <li>Revise cada métrica presentada.</li>
            <li>Seleccione la opción adecuada para cada métrica.</li>
            <li>Haga clic en "Comenzar a validar" para iniciar la evaluación.</li>
        </ol>
    </div>
    <div class="card">
        <div class="pt-3 px-3" style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 0.25rem;">
            <h4>Lengua a evaluar:</h4>
            <p>{{ validador.experimento.lengua.nombre }} - {{ validador.experimento.lengua.glottocode }}</p>
        </div>
        {% include 'evaluacion-card.html.j2' %}
    </div>

    <button id="start-validation" class="btn btn-primary mt-3 w-100" onclick="showValidation()">Comenzar a validar</button>

    <div class="progress-container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <span>Progreso</span>
        <span id="progress-text">0 de 0</span>
    </div>
    <div class="progress">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='js/validar.js') }}"></script>
<script>
    // Log validador object to console
    const validador = {{ validador | tojson }};
</script>
{% endblock %}